/* TITLE SECTION */
#title {
  background-color: #ff4c68;
  color: #fff;
  overflow: hidden;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item {
  padding: 8%;
}

.nav-link {
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #404040;
}

.btn {
  margin-top: 15%;
  margin-bottom: 15%;
}

.tittle-message {
  margin-top: 15%;
}

.image {
  transform: rotate(20deg);
  /* padding-top: 0px; */
  /* position: relative; */
  /* right: 2%; */
  margin: 20% auto -50% 50%;
  
  
}

.fa {
  color: #ef8172;
  margin: 4%;
}
.fa:hover {
  color: #ff4c68;
}

/* HTML TAGS */
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 800;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* FEATURES SECTION */
.feature-box {
  padding: 2%;
}

/*.container.features {
  padding: auto 20%;
  margin: 10% auto;
  width: 80%;
}*/

#features-sec{
  background-color: #fff;
  /* position: relative; */
  padding: 20% 10%;
  
}

/* TESTIMONIAL SECTION */
#testimonials {
  padding: 10% 10% 3%;
  background-color: #ef8172;
  text-align: center;
}

.testimonials-image {
  border-radius: 100%;
  margin: 10% 2%;
  width: 10%;
}

#press {
  padding: 2%;
  background-color: #ef8172;
  text-align: center;
}

.press-icon {
  margin: 3% 5%;
  width: 15%;
}

.card-body > h2 {
  color: #000;
}

.pricing-plan{
  color: #000;
}

#pricing{
  padding-top: 10%;
}
